hacking>=0.8.0,<0.9
mock==1.0.1
pytest>=2.7.2
pytest-cov>=1.8.1
requests-mock>=0.6
unittest2==1.1.0
# FIXME: change to python-fuelclient after 8.0.0 version will be available
-e git+https://github.com/openstack/python-fuelclient.git@f96659066e522e28b389de3cc685f6f2aacca3da#egg=python_fuelclient
